<%- include('../layouts/head.ejs') -%>
</head>

<body>
    <%- include('../layouts/nav.ejs') -%>
    <section class="py-5">
        <div class="py-5 d-flex justify-content-center">
            <div class="px-3 border">
                <h1 class="h3 py-3 fw-normal text-center">Authentication</h1>
                <div class="d-flex justify-content-center">
                    <img src="/images/qr-code.jpg" alt="" width="125" height="125">
                </div>
                <form method="POST" action="/login-authentication" >
                    <p class="py-2 px-2">Please enter the six digit code</p>
                    <div class="form-floating py-1">
                        <input type="text" class="form-control" name="token" placeholder="Token" required />
                        <label>Code</label>
                    </div>
                    <div class="py-3">
                        <button class="w-100 btn btn-lg btn-warning" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
<%- include('../layouts/footer.ejs') -%>