<%- include('layouts/head.ejs') -%>
</head>

<body>
    <%- include('layouts/navigation.ejs') -%>
    <main>
        <div class="container-fluid">

        </div>
    </main>

<%- include('layouts/footer.ejs') -%>